<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include meta.html %}

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

    {% if page.is_map %}
      <link rel="stylesheet" type="text/css" href="assets/css/landfills.css" />
      <link rel='stylesheet' type="text/css" href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' />
      <link rel="stylesheet" type="text/css" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" />

      <script async src="assets/js/landfills.js"></script>
      <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
      <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    {% endif %}

  </head>
  <body class="page {{page.bodyClass}}">
    {% include mobile-menu.html %}
    <div class="container mx-auto px-6 md:px-4">
      {% include header.html %}
      {{content}}
      {% include footer.html %}
    </div>
    {% include google-analytics.html %}
    <script type="text/javascript" src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>
  </body>
</html>
